.recipe-container{
    display: grid;
    height: 100vh;
    grid-template-areas:
        'header header header'
        'content content content';

}

.recipe-container-header{
    grid-area: header;
}

.recipe-deck-wrapper{
    grid-area: content;
}

body{
    background-color: lightyellow;
}