.home-wrapper{
    display: grid;
    grid-template-columns: 48vw 48vw;
    grid-column-gap: 4vw;
    grid-template-rows: 100vh;
    margin: auto;
    justify-content: space-around;
}

.sign-up-or-in-outer-wrapper{
    display: grid;
    grid-template-columns: 46vw;
    grid-template-rows: auto;
    border: solid;
    padding: 5px;
}

.sign-up-or-in-inner-wrapper{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    border: solid;
}

body{
    background-color: lightyellow;
}